.status-container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.order-card {
  background: #000000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

ul {
  list-style: none;
  padding: 0;
}

.status-box {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;    
}

/* Colores por estado */
.pendiente {
  background: #de6108;
}

.preparando {
  background: #6fa8dc;
}

.listo {
  background: #93c47d;
}

.entregado {
  background: #b7b7b7;
}

.no-order {
  text-align: center;
  margin-top: 50px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #6fa8dc;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
