<section class="cart-page">
  <h1 class="cart-title">Tu Carrito</h1>

  <!-- Si está vacío -->
  <div class="empty" *ngIf="cart.length === 0">
    <p>Tu carrito está vacío.</p>
    <a routerLink="/menu" class="primary-btn">Ver menú</a>
  </div>

  <!-- Lista de productos -->
  <div class="cart-list" *ngIf="cart.length > 0">
    <div class="cart-item fade-in" *ngFor="let item of cart; let i = index">
      
      <div class="info">
        <h3>{{ item.name }}</h3>
        <p class="sub">
          {{ item.customization?.size || 'mediano' }}
          <span *ngIf="item.customization?.extras.length">
            • Extras: {{ item.customization.extras.join(', ') }}
          </span>
        </p>
      </div>

      <p class="price">${{ item.price }}</p>

      <button class="remove-btn" (click)="remove(i)">✕</button>
    </div>
  </div>

  <!-- Total -->
  <div class="cart-footer" *ngIf="cart.length > 0">
    <h2>Total: ${{ total }}</h2>
    <button class="primary-btn big" (click)="checkout()">Realizar pedido</button>
  </div>
</section>
